* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia';
}

nav {
    background-color: blueviolet;
    height: 90px;
    width: 100%;
}

label.logo {
    color: #fff;
    font-size: 2rem;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}